<!DOCTYPE html>
<html lang="en">
<head>
    <title>List of Authors</title>
</head>
<body>
<h1>List of Authors</h1>

{% if authors is defined and authors|length > 0 %}
    <ul>
        {% for author in authors %}
            <li>
                <a href="{{ path('author_details', {'id': author.id}) }}">details</a>
                {{ author.username|upper }} - Email: {{ author.email }} - Books: {{ author.nb_books }}
            </li>
        {% endfor %}
    </ul>
    <p>Total Authors: {{ authors|length }}</p>
    <p>Total Books: {{ total_books }}</p>
{% else %}
    <p>No authors available.</p>
{% endif %}
</body>
</html>
