<!DOCTYPE html>
<html lang="en">
<head>
    <title>Author Details</title>
</head>
<body>
<h1>Author Details</h1>
<p>Name: {{ author.username }}</p>
<p>Email: {{ author.email }}</p>
<p>Books: {{ author.nb_books }}</p>
<img src="{{ asset(author.picture) }}" alt="{{ author.username }}" />
</body>
</html>